.auth-container {
  display: flex;
  height: 100%;
  place-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -64px;
  /* to balance the padding for container with nav menu */
}

.auth-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 300px;
}
