<h1>Alterar Senha</h1>
<form name="form" class="student-form" [formGroup]="form">
  <mat-form-field class="w-100-p">
    <mat-label>Senha Atual</mat-label>
    <input
      matInput
      type="password"
      autocomplete="new-password"
      formControlName="password"
      required
      cdkFocusInitial
    />
  </mat-form-field>
  <mat-form-field class="w-100-p">
    <mat-label>Nova Senha</mat-label>
    <input
      matInput
      type="password"
      autocomplete="new-password"
      formControlName="newPassword"
      required
    />
  </mat-form-field>
</form>

<div class="button-container">
  <button
    mat-raised-button
    color="primary"
    (click)="changePassword()"
    [disabled]="!form.valid"
  >
    Alterar
  </button>
  <button mat-raised-button focus (click)="closeDialog()">
    Cancelar
  </button>
</div>
