:host {
  $gakkou-red: rgb(194, 8, 37);

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;

  h1 {
    color: $gakkou-red;
  }
  .student-form {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .justify-space-between {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      mat-form-field {
        margin-right: 8px;
      }

      .add-button {
        height: fit-content;
        align-self: center;
        flex-shrink: 0;
      }
    }

    .fields-group {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 1em 0;
      padding: auto 0.5em;

      h2 {
        width: 100%;
        border-bottom: 1px solid $gakkou-red;
      }
    }

    .form-field-12 {
      width: calc(12.5% - 8px);
    }

    .form-field-25 {
      width: calc(25% - 6px);
    }

    .form-field-50 {
      width: calc(50% - 4px);
    }

    .form-field-75 {
      width: calc(75% - 2px);
    }

    .form-field-100 {
      width: calc(100%);
    }
  }
}
