:host {
  $gakkou-red: rgb(194, 8, 37);
  $gakkou-gray: #858585;
  color: #000;

  display: flex;
  flex-direction: column;
  tr.mat-header-row {
    font-weight: bold;
  }

  .mat-header-cell,
  .cdk-header-cell {
    // font-weight: bold;
    font-size: 1.1em;
  }
  .no-data {
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid rgba($gakkou-gray, 0.2);
  }
  .list-form-table {
    .mat-sort-header,
    .mat-header-cell {
      color: $gakkou-red;
    }

    .mat-column-options {
      width: 76px;
      text-align: right;

      button {
        border-radius: 50%;
        height: 36px;
        width: 36px;
        padding: 5px;
      }
    }
  }

  .edit-icon {
    color: $gakkou-gray;
    border: 1px solid $gakkou-gray;
    margin-right: 0.3em;
    outline: none;
    background-color: transparent;

    &:hover {
      background-color: $gakkou-gray;
      color: white;
    }

    &:focus {
      border: 1px dotted $gakkou-gray;
    }
  }

  .delete-icon {
    color: $gakkou-red;
    border: 1px solid $gakkou-red;
    outline: none;
    background-color: transparent;

    &:hover {
      background-color: $gakkou-red;
      color: white;
    }

    &:focus {
      border: 1px dotted $gakkou-red;
    }
  }
}
