// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gakkou-red: (
  50: #f8e1e5,
  100: #edb5be,
  200: #e18492,
  300: #d45266,
  400: #cb2d46,
  500: #c20825,
  600: #bc0721,
  700: #b4061b,
  800: #ac0416,
  900: #9f020d,
  A100: #ffc9cb,
  A200: #ff969a,
  A400: #ff6369,
  A700: #ff4a50,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$gakkou-gray: (
  50: #f0f0f0,
  100: #dadada,
  200: #c2c2c2,
  300: #aaaaaa,
  400: #979797,
  500: #858585,
  600: #7d7d7d,
  700: #727272,
  800: #686868,
  900: #555555,
  A100: #f9c8c8,
  A200: #f49a9a,
  A400: #ff5c5c,
  A700: #ff4242,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$emlj-go-primary: mat-palette($gakkou-red);
$emlj-go-accent: mat-palette($gakkou-gray);

// The warn palette is optional (defaults to red).
$emlj-go-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$emlj-go-theme: mat-light-theme(
  $emlj-go-primary,
  $emlj-go-accent,
  $emlj-go-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($emlj-go-theme);

$gakkou-red: #c20825;
$gakkou-gray: #858585;
/* You can add global styles to this file, and also import other style files */
.w-100-p {
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 0.6em;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba($gakkou-gray, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gakkou-red;
  border-radius: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($gakkou-red, 0.75);
}

.mat-cell,
.mat-footer-cell {
  color: inherit;
}

tr.mat-row,
tr.mat-footer-row {
  &:hover,
  &:focus {
    color: $gakkou-red;
    background-color: rgba($gakkou-red, 0.01);
  }
}
